.button {
  background-color: $--color-primary;
  color: $--color-white;
  font-family: 'Soho';
  font-size: rem(16);
  font-weight: $font-weight-regular;
  border-radius: 50%;
  border: 0;
  padding: rem(11) rem(16);
  margin: rem(10);
  box-shadow: none;
  transition: all .2s ease-in;
  &:hover {
    background-color: $--color-primary-light-1;
  }
}