.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .2s ease-in;
  opacity: 0;
  z-index: -1;

  &.visible {
    opacity: 1;
    z-index: 0;
    .layer__content {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  &__content {
    background-color: $--color-white;
    box-shadow: 0 1px 8px 0 rgba( $--color-black, .1 );
    border-radius: rem(6);
    padding: 0 rem(16);
    margin: rem(16);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .1s linear;
    transition-delay: .1s;
    transform: translateX(100%);
    opacity: 0;
  }
  &__text {
    font-family: 'Soho';
    font-weight: $font-weight-regular;
    font-size: rem(14);
    color: $--color-primary;
    display: flex;
    svg {
      font-size: rem(24);
      margin-right: rem(10);
    }
  }
}